.header
    position: fixed
    left: 0 
    top: 0
    width: 100%
    z-index: 99
    background-color: $dark
    padding: 24px 0
.menu
    display: flex
    justify-content: space-between
    align-items: center

.nav
    &__item
        color: $white
        text-transform: uppercase
        text-decoration: none
        margin-right: 2.5rem
        font-style: normal
        font-weight: normal
        font-size: 0.94rem
        line-height: 16px
        font-family: 'Furura Book'
        transition: 0.3s
        &:hover
            color: $primary
.phone
    color: $primary
.contacts
    &__phone
        margin-right: 45px
    
.nav__link
    text-decoration: none
    text-transform: uppercase
    color: $primary
    font-family: 'Futura Demi'
    font-weight: 500
    font-size: 1.075rem
    line-height: 16px